- if @reply.errors.present?
  | Flash.notify('alert', '#{@reply.errors.full_messages.join(', ')}');
- else
  |
    item = '#{escape_javascript(render partial: 'topics/reply_item', locals: { reply: @reply })}';
    $('.replies').append(item);
    $('#new_reply textarea').val('').trigger('autosize.resize')
    $('#reply-#{@reply.floor} time').timeago();
    Flash.notify('success', '回复创建成功');
