.box {
  background-color: white;
  padding: .8rem;
  border: 1px solid #efefef;
  margin: .8rem 0;

  .title {
    padding: .6rem 0rem;
    border-bottom: 1px solid #efefef;
    font-weight: bold;
    text-align: center;
    margin: -1rem -1rem 1rem -1rem;
  }
}

ul.pagination {
  margin-top: 3rem;
  margin-bottom: 0;

  li {
    &:first-child {
      margin-left: 0rem;
    }

    a {
      font-size: .8rem;
      padding: 0.1rem 0.5rem 0.1rem;
      border-radius: 0;
    }
  }
}

.body {
  word-break: break-all;
  margin-top: 1rem;

  p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0rem;
    }
  }

  a {
    color: #666666;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    border-left: 2px solid #dddddd;
    padding: .4rem .8rem .4rem .8rem;

    p {
      margin-bottom: 0;
    }
  }

  .highlight {
    background-color: #f8f8f8;
    word-wrap: break-word;
    padding: .5rem;

    code {
      padding: 0;
      border: none;
    }
  }
}

.body-small {
  p {
    margin-bottom: .9rem;
  }

  p, a, ul, li, ol, strong, i, b, strike, s, span, del, u, em, code {
    font-size: .9rem;
  }
}

.previewer {
  border: solid 1px #cccccc;
  margin: 0 0 1rem 0;
  padding: .4rem;

  .body {
    margin: 0;
  }
}

#upload input {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  right: 0;
  top: 0;
  width: 1rem;
  margin: 0;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.favorited, .unfavorited {
  .count {
    font-size: .7rem;
  }
}

.favorited {
  color: #ef4136;
}

.unfavorited {
  color: #666666;
}

.node-box {
  .label {
    font-size: .9rem;
    padding: .4rem;
    margin: .4rem;
  }
}

.unread-notifications-count {
  width: 24px;
  padding: .5rem 0;
}

.flash-container {
  width: 100%;
  opacity: 0.9;
  z-index: 9999;
}

.login-box {
  text-align: center;
}

.topic-title {
  word-break: break-all;
}

.reply-form, .topic-form {
  .tools {
    color: #666;
    font-size: .9rem;

    i {
      cursor: pointer;
    }
  }

  input[type=submit] {
    margin-bottom: 0;
  }
}
