.box {
  background-color: white;
  padding: 0.9375rem;
  border: 1px solid #e9e9e9;
  margin: 1rem 0;
}

ul.pagination {
  margin-top: 1.5rem;

  li {
    a {
      padding: 0.0625rem 0.425rem 0.0625rem;
      border-radius: 0;
    }
  }
}

a.light {
  color: #666666;
}

.lightsmall {
  color: #AAAAAA;
  font-size: 0.8rem;

  i {
    color: #666666;
  }

  a {
    color: #666666;
  }
}

.markdown {
  word-break: break-all;

  a {
    color: #666666;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    border-left: 2px solid #dddddd;
    padding: 0.5625rem 1.25rem 0.5625rem 1.1875rem;
    margin: 1rem 0;

    p {
      margin-bottom: 0;
    }
  }

  .highlight {
    background-color: #f8f8f8;
    word-wrap: break-word;
    padding: 0.5rem;
    margin: 1rem 0;

    code {
      padding: 0;
      border: none;
    }
  }
}

#image-upload {
  .image-upload-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
