.notifications-count {
  padding: 0.50rem 0.625rem 0.50rem;
}

.flash-container {
  margin-top: 1rem;

  .alert-box {
    margin-bottom: 0.1125rem;
  }
}

.fixed-flash-container {
  width: 100%;
  opacity: 0.9;
  z-index: 9999;
}
