.notifications {
  .notification-title {
    word-break: break-all;
    font-size: .9rem;
  }

  .unread {
    background-color: #fffef1;
  }

  .item {
    .avatar {
      display: table-cell;

      a {
        margin-top: .2rem;
        display: block;
        width: 2.5rem;
        height: 2.5rem;

        img {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }

    .info {
      display: table-cell;
      vertical-align: top;
      width: 100%;
      padding: 0 .8rem;

      .tips {
        font-size: .8rem;
        color: #AAA;

        a {
          color: #666;
        }
      }
    }
  }
}
