.notifications {
  margin-top: 1rem;

  ul {
    list-style-type: none;
    margin-left: 0rem;

    li {
      word-break: break-all;
    }
  }

  .item {
    margin-bottom: 1.5rem;

    .user-avatar {
      display: table-cell;
      vertical-align: top;

      a {
        display: block;
        width: 3rem;
        height: 3rem;

        img {
          width: 2.5rem;
        }
      }
    }

    .info {
      display: table-cell;
      vertical-align: top;
      width: 100%;
    }

    .readflag {
      color: #f04124;
      margin-left: -0.8rem;
      font-size: 0.6rem;
      margin-top: -0.2rem;
      vertical-align: middle;
    }

    .body {
      margin-top: 0.5rem;
      margin-left: 3rem;

      p, a, ul, li, ol, strong, i, b, strike, s, span, del, u, em {
        font-size: 0.9rem;
      }

      code span {
        font-size: 0.8rem;
      }
    }

    .title {
      font-size: 0.9rem;
    }
  }
}
