.notifications {
  margin-top: 1rem;

  .item {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    word-break: break-all;

    .user-avatar {
      padding-top: 0.3rem;
      display: table-cell;
      vertical-align: top;

      a {
        display: block;
        width: 2.5rem;
        height: 2.5rem;

        img {
          width: 2.5rem;
        }
      }
    }

    .info {
      display: table-cell;
      padding-left: 0.5rem;
      width: 100%;
      line-height: 150%;
    }

    .readflag {
      color: #f04124;
      font-size: 1rem;
    }

    .body {
      margin-left: 3rem;
      margin-top: 0.5rem;
    }

    .title {
      font-size: 0.9rem;
    }
  }
}
