.notifications {
  .unread {
    background-color: #fffef1;
  }

  .item {
    padding: 1rem .8rem;
    margin: 0 -.8rem;
    border-bottom: 1px solid #efefef;

    &:last-child {
      border-bottom: none;
    }

    .avatar {
      display: table-cell;

      a {
        margin-top: .2rem;
        display: block;
        width: 2.5rem;
        min-height: 2.5rem;
      }
    }

    .info {
      display: table-cell;
      vertical-align: top;
      width: 100%;
      padding: 0 .8rem;

      .tips {
        font-size: .8rem;
        color: #AAA;

        a {
          color: #666;
        }
      }
    }
  }
}
