.replies {
  :target {
    background-color: #fffef1;
  }

  .item {
    padding: 1rem 1rem;
    margin: 0 -.8rem;
    border-bottom: 1px solid #efefef;

    &:last-child {
      border-bottom: none;
    }

    .deleted {
      text-align: center;
      font-style: italic;
      text-decoration: line-through;
      color: #AAA;
      font-size: .9rem;
    }

    .avatar {
      display: table-cell;

      a {
        display: block;
        width: 2.5rem;
        min-height: 2.5rem;
        margin-top: .1rem;
      }
    }

    .info {
      display: table-cell;
      vertical-align: top;
      width: 100%;
      padding: 0 .8rem;
      font-size: .9rem;
      color: #AAA;

      a {
        color: #666;
      }
    }

    .tools {
      vertical-align: top;
      display: table-cell;

      .wrapper {
        text-align: right;
        width: 3rem;
        color: #666;
        font-size: .9rem;

        i {
          cursor: pointer;
        }
      }
    }

    .admin {
      margin-top: 1rem;
      i {
        cursor: pointer;
        color: #666;
        font-size: .9rem;
      }
    }
  }
}
