.replies {
  :target {
    background-color: #fffef1;
  }

  .item {
    .deleted {
      text-align: center;
      font-style: italic;
      text-decoration: line-through;
      color: #AAA;
      font-size: .8rem;
    }

    .avatar {
      display: table-cell;

      a {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        margin-top: .1rem;
      }

      img {
        background-color: #e8e8e8;
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    .info {
      display: table-cell;
      vertical-align: top;
      width: 100%;
      padding: 0 .8rem;
      font-size: .9rem;
      color: #AAA;

      a {
        color: #666;
      }
    }

    .tools {
      vertical-align: top;
      display: table-cell;

      .wrapper {
        text-align: right;
        width: 3rem;
        font-size: .9rem;

        .reply {
          color: #666;
        }
      }
    }

    .manage {
      margin-top: 1rem;

      a {
        color: #666;
        font-size: .9rem;
      }
    }
  }
}
