.topics {
  .item {
    margin-bottom: 1.5rem;

    .user-avatar {
      display: table-cell;
      vertical-align: top;

      a {
        display: block;
        width: 4rem;
        height: 4rem;

        img {
          width: 3rem;
        }
      }
    }

    .info {
      display: table-cell;
      vertical-align: top;
      width: 100%;

      .title {
        word-break: break-all;
        line-height: 1;
        font-size: 1.2rem;
      }
    }

    .replies-count {
      display: table-cell;
      padding-left: 1rem;
      vertical-align: top;

      a {
        color: white;
        display: block;
      }
    }
  }
}

.topic {
  .user-avatar {
    display: table-cell;
    vertical-align: top;
    a {
      display: block;
      width: 4rem;
      height: 4rem;

      img {
        width: 3rem;
      }
    }
  }

  .body {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .info {
    display: table-cell;
    vertical-align: top;
    width: 100%;

    .title {
      word-break: break-all;
      line-height: 1;
      padding-top: 0rem;
      font-size: 1.2rem;
    }
  }

  .favorite {
    display: table-cell;
    vertical-align: top;
    padding-left: 1rem;

    i {
      font-size: 1.2rem;
    }

    .favorited {
      color: #DD1144;
    }

    .unfavorited {
      color: #AAAAAA;
    }
  }
}

.topic-form {
  .preview-box {
    border: solid 1px #cccccc;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
  }
}
