.topics {
  .item {
    margin: 1.5rem 0rem;

    .user-avatar {
      vertical-align: top;
      display: table-cell;

      a {
        display: block;
        width: 3rem;
        height: 3rem;

        img {
          width: 3rem;
        }
      }
    }

    .info {
      vertical-align: top;
      display: table-cell;
      padding-left: 1rem;
      line-height: 150%;
      width: 100%;

      .title {
        word-break: break-all;
        font-size: 1.1rem;
      }
    }

    .replies-count {
      display: table-cell;
      padding-left: 1rem;

      a {
        color: white;
      }
    }
  }
}

.topic {
  .user-avatar {
    display: table-cell;
    vertical-align: top;

    a {
      display: block;
      width: 3rem;
      height: 3rem;

      img {
        width: 3rem;
      }
    }
  }

  .body {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .info {
    display: table-cell;
    padding-left: 1rem;
    width: 100%;
    line-height: 150%;

    .title {
      word-break: break-all;
      font-size: 1.1rem;
    }
  }

  .favorite {
    display: table-cell;
    vertical-align: top;
    padding-left: 1rem;

    .counter {
      font-size: 0.8rem;
      position: relative;
      left: 1.0rem;
      top: -1.5rem;
    }

    i {
      font-size: 1.2rem;

      .count {
        font-size: 0.8rem;
      }
    }

    .favorited {
      color: #DD1144;
    }

    .unfavorited {
      color: #666666;
    }
  }
}

.node-box {
  .node-label {
    margin: 0.2rem;
    padding: 0.4rem;
    font-size: 0.9rem;
  }

  .info:hover {
    background-color: #008cba;
    color: white;
  }
}

.tip-box {
  p {
    margin-bottom: 0rem;
  }
}

.state-box {
  ul {
    margin-bottom: 0rem;
  }
}
