.topics {
  .item {
    .avatar {
      display: table-cell;

      a {
        margin-top: .3rem;
        display: block;
        height: 2.5rem;
        width: 2.5rem;

        img {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }

    .info {
      display: table-cell;
      vertical-align: top;
      width: 100%;
      padding: 0 .8rem;

      .title {
        word-break: break-all;
      }

      .tips {
        font-size: .8rem;
        color: #AAA;

        a {
          color: #666;
        }
      }
    }

    .replies-count {
      vertical-align: top;
      display: table-cell;

      a.label {
        color: white;
      }
    }
  }
}

.topic {
  .avatar {
    display: table-cell;

    a {
      margin-top: .3rem;
      display: block;
      width: 3rem;
      height: 3rem;

      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  .info {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding: 0 .8rem;

    .title {
      word-break: break-all;
    }

    .tips {
      font-size: .8rem;
      color: #AAA;

      a {
        color: #666;
      }
    }
  }

  .admin {
    margin-top: 1rem;

    a {
      color: #666;
    }
  }

  .favorite {
    vertical-align: top;
    display: table-cell;

    .wrapper {
      font-size: 1.2rem;
      text-align: right;
      display: block;
      width: 3rem;
    }
  }
}
