.user {
  .avatar {
    display: table-cell;
    vertical-align: top;

    a {
      display: block;
      width: 4rem;
      height: 4rem;

      img {
        width: 3rem;
      }
    }
  }

  .info {
    display: table-cell;
    vertical-align: top;
    width: 100%;

    .name {
      word-break: break-all;
      line-height: 1;
      font-size: 1.2rem;
    }
  }
}

.history {
  .tabs {
    .tab-title {
      a {
        padding: 0.475rem 1.15rem;
      }
    }
  }

  .tabs-content {
    ul {
      list-style-type: none;

      li {
        word-wrap: break-word;
      }
    }

    #replies {
      .topic-title {
        margin-bottom: 0.3rem;
      }
    }
  }

  #topics {
    .item {
      margin-bottom: 1.5rem;
    }
  }

  #replies {
    .item {
      .body {
        padding: 1rem;

        p, a, ul, li, ol, strong, i, b, strike, s, span, del, u, em {
          font-size: 0.9rem;
        }

        code span {
          font-size: 0.8rem;
        }
      }
    }
  }

  #favorites {
    .item {
      margin-bottom: 1.5rem;
    }
  }
}
