.user {
  .avatar {
    display: table-cell;
    vertical-align: top;

    a {
      display: block;
      width: 4rem;
      height: 4rem;

      img {
        width: 3rem;
      }
    }
  }

  .info {
    display: table-cell;
    vertical-align: top;
    width: 100%;

    .name {
      word-break: break-all;
      line-height: 1;
      font-size: 1.2rem;
    }
  }
}

.user-history {
  ul {
    list-style-type: none;
    margin-left: 0rem;
    margin-bottom: 0rem;

    li {
      word-break: break-all;
    }
  }

  .tabs-content {
    margin-bottom: 0rem;
  }

  .tabs .tab-title  a {
    padding: 0.475rem 1.15rem;
  }

  .item {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0rem;
    }

    .body {
      margin-top: 0.5rem;

      p, a, ul, li, ol, strong, i, b, strike, s, span, del, u, em {
        font-size: 0.9rem;
      }

      code span {
        font-size: 0.8rem;
      }
    }

    .title {
      font-size: 0.9rem;
    }
  }
}
