.user {
  .avatar {
    display: table-cell;
    vertical-align: top;

    a {
      display: block;
      width: 3rem;
      height: 3rem;

      img {
        width: 3rem;
      }
    }
  }

  .info {
    padding-left: 1rem;
    display: table-cell;
    vertical-align: top;
    width: 100%;

    .name {
      word-break: break-all;
      line-height: 1;
      font-size: 1.2rem;
    }
  }
}

.user-history {
  .tabs-content {
    margin-bottom: 0rem;
  }

  .tabs .tab-title  a {
    padding: 0.475rem 1.15rem;
  }

  .item {
    word-break: break-all;
    margin: 2rem 0rem;

    &:last-child {
      margin-bottom: 0rem;
    }

    .body {
      margin-top: 0.5rem;
    }

    .title {
      font-size: 0.9rem;
    }

    .favorite-count {
      .count {
        font-size: 0.5rem;
      }
    }
  }
}
